
}
.barbara{
    color:#C2C2C3;
	font-size:15px;
	width:800px;
	background-color:#F2F2F2;
	margin:50px;
}
.yartala2{
	float:left;
	padding:15px;	
}
.yartala1{
	float:left;
	padding:15px;
}
.lebronjames3{
  color: red; 
  text-decoration: none
}
.lebronjames2{
	margin-left:700px;
	margin-top:-300px;
	

}
.lebronjames1{
	margin-top:400px;
	margin-right: 1000px;
	text-align: center;

}
.lebronjames{
	display:inline-block;
    margin:7px;
    border-right: 2px solid blue ;

}
.dinosaur7{
	margin:30px;  
}
.dinosaur6{
	margin-top:60px;
}
.dinosaur5{
	margin-top: 30px;
	margin-bottom:20px;



}
.dinosaur4{
	margin-top:15px;
	margin-left: 20px;
	margin-right:20px;
	float:left;
}
.dinosaur3{
	font-size: 34px;
}
.dinosaur2{
	color:#4862AB;
	font-size: 15px;
	margin:10px;
	
}
.dinosaur{
 	border:1px solid #FCFCFE;
	background-color: #3D58A6;
	color:#FFFFFF;
	font-size: 40px;
	margin:10px;
	
}
.john{
 margin-top:15px;

}


.important-page{
	text-align: center;
	display: inline-block
}
.zombie{
	display:inline-block;
	margin:50px;
	margin-bottom:20px;

}
.navbar{
	float:left;
	text-align:center;
	margin-left:800px;


}
.two-page{
	color:#425CA8;
}
.one-page{
	color:#EF5148;
}
.second-page{
	color:#425CA8;
}
.first-page{
	color:#EF5148;
}
.main-page{
	color:#EF5148;
	box-sizing: border-box;
	display:inline-block;	
}
.secondary-page{
	color:#425CA8;
	box-sizing: border-box;
}
.secondary-page-noob{
	color:#425CA8;
	box-sizing: border-box;
}
.main-banner{
	margin-left:300px;

}
.section23{
    background-color:#F2F2F2;
    float:left;
   	margin:50 10 50 10px;
   	display:inline;
   	box-sizing: border-box;

}
.section234{
	display:inline-block;
	width:500px;
    font:roboto-regular;
    background-color:#F2F2F2;
    font-size: 15px;
    color:#9E9EA0;
    
    



}
.james1{
	color:#3D58A6;
	margin:40px;
	font-size: 20px;

	
	


}
.section2{
    height: 300;
	width:300;
    width: 50%;
    font:roboto-regular;
    font-size:30px;
    margin-top:125px;
    margin-left:;
}
.james14{
	color:#3D58A6;
	font-size: 20px;
	margin-top:10px;
	box-sizing: border-box;
}
.zazo1{
	float:left;    
}
.something{
	color:#C2C2C3;
	font-size:15px;
    text-orientation: none;
}

